VITE_API_BASE_URL=http://localhost:5000/api/v1
VITE_SOCKET_URL=http://localhost:5000
VITE_APP_NAME=Majayjay Digital Payment System
VITE_APP_TITLE=Majayjay Digital Payment System
VITE_GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com
